<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.order.model.dao.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into
            tbl_order (orderer_name, orderer_address, order_date, status)
        values (
            #{ordererName}, #{ordererAddress}, now(), #{status}
        )
    </insert>
    <insert id="insertOrderItem">
        insert into
            tbl_order_item (order_id, book_id, quantity)
        values (
            #{orderId}, #{bookId}, #{quantity}
        )
    </insert>
    <select id="findOrderByStatus" resultMap="orderDtoMap">
        select
            *
        from
            tbl_order o
                left join tbl_order_item toi
                    on o.order_id = toi.order_id
                left join tbl_book tb
                    on toi.book_id = tb.book_id
        where
            o.status = #{status}
    </select>
    <select id="findByOrderId" resultMap="orderDtoMap">
        select
            *
        from
            tbl_order o
                join tbl_order_item toi
                    on o.order_id = toi.order_id
                join tbl_book tb
                    on toi.book_id = tb.book_id
        where
            o.order_id = #{orderId}
    </select>
    <resultMap id="bookDto" type="bookDto">
        <id column="book_id" property="bookId"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="description" property="description"/>
        <result column="price" property="price"/>
        <result column="category" property="category"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <resultMap id="orderDtoMap" type="orderDto">
        <!-- orderId : PK컬럼 매핑용 -->
        <id column="order_id" property="orderId"/>
        <!-- result : 그외 컬럼 매핑용 -->
        <result column="orderer_name" property="ordererName"/>
        <result column="orderer_address" property="ordererAddress"/>
        <result column="order_date" property="orderDate"/>
        <result column="status" property="status"/>
        <!-- 1:N관계의 테이블 행 매핑 -->
        <collection property="orderItemList" ofType="com.sh.order.model.dto.OrderItemDto">
            <id column="order_item_id" property="orderItemId"/>
            <result column="order_id" property="orderId"/>
            <result column="book_id" property="bookId"/>
            <result column="quantity" property="quantity"/>
            <!-- 1:1관계의 테이블 행 매핑 -->
            <association property="book" javaType="com.sh.book.model.dto.BookDto">
                <id column="book_id" property="bookId"/>
                <result column="title" property="title"/>
                <result column="author" property="author"/>
                <result column="description" property="description"/>
                <result column="price" property="price"/>
                <result column="category" property="category"/>
                <result column="created_at" property="createdAt"/>
            </association>
        </collection>
    </resultMap>
</mapper>